* {
  margin: 0px;
  padding: 0px;
}
@font-face{
  font-family: "RobotoR";
  src:url("../fonts/Roboto-Regular.ttf");

}
body {
  background-color: #e9f4fc;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.navbar{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: #9cc8ef;
}
.nav-menu{
  display: flex;
  align-items: center;
}
.nav-branding{
  font-size: 2rem;
}
/* transition for links */
.nav-link{
  transition: 0.5s ease;
  color: #2b4d6b;
  margin-top:10px;
}
.nav-link:hover{
  color: #0183f9;
  text-decoration: underline;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background:#2b4d6b;
}
.nav-item{
  padding: 0 1.5rem;
  font-size: 17px;
}
.logo{
  
  font-family: "RobotoR";
  font-size:25px;
  font-weight:bold;
  text-decoration: none;
}

.colr{
  color: #1479d4;
  text-decoration: none;
}
.clr2{
  color: #2b4d6b;
}
.nav-menu.active{
  background:#9cc8ef;
  z-index: 1000000;
}

.fleks{
margin-bottom: 150px;
/*background-color: rgba(156,200,239,0.4);*/
border-radius: 30px;
color:#1d3a53;
padding: 30px 0px;
}
.naslov{
  text-transform: uppercase;
}
.carosel-caption p{
  font-size: 22px;
}
.dugme{
  background-color: #1d3a53;
  width:20%;
  margin:5px auto;
  border-radius: 5px;
  padding: 10px;
  color:#9cc8ef;
}

.dugme:hover{
  background-color: #9cc8ef;
}
.dugme a:hover{
color:#1d3a53;  
}

